body {
    display: grid;
    height: 100vh;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 80px 1fr 100px;
    grid-template-areas: 
        "header header"
        "aside main"
        "aside footer";
    background-color: #1e293b; /* Bleu foncé */ ;
    overflow-y: hidden;
}