#projects-cards-page header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: var(--font-size-main-title);
    color: var(--font-color);
    margin: 10px;

}

#projects-cards-page h1 {
    margin-left: 10px;
}


#action-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 20px;
}

#action-buttons span:hover {
    cursor: pointer;
    scale:1.2;
}