#dialog_error-user-already-exist {
    padding: 10px;
    border-style: none;
    background: none;
    width: 500px;
    min-width: 280px;
}

#dialog_error-user-already-exist::backdrop {
    background-color: rgba(0, 0, 0, 0.3); /* voile semi-transparent noir */
    backdrop-filter: blur(6px); /* flou sur l’arrière-plan */
}

#window_error-user-already-exist {
    display: flex;
    flex-direction: column;
    gap: 1.2rem; /* espace entre chaque champ */
    padding: 2rem;
    background-color: var(--background-colorblue100); /* gris foncé */
    color: #f0f0f0; /* texte clair */
    border-radius: 8px; /* coins arrondis */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5); /* ombre portée pour surélever */
}

#button_gotit {
    background-color: #148b32; /* vert vif */
    color: white;
    font-weight: bold;    
    margin-left: auto;
    height: 2rem;
    width: 5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease; /* effet de survol fluide */
}

#button_gotit:hover {
    background-color: #19ad3e; /* vert plus foncé au survol */
    scale: 1.1;
}