.import-export-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color300);
    border-radius: 20px;
    border-color: #cbd5e1;
    color: var(--font-color);
    font-size: 1rem;
    height: 2.5rem;
    width: 8rem;
}

.import-export-btn:hover {
    background-color: rgb(122, 122, 122);
    cursor: pointer;
    scale: 1.05;
}

#import-export-btn:active{
    scale: 0.95;
}


